$title__color: #192252;
$title__font_size: 36px;
$title__line_height: 54px;
$title__font_weight: 600;
$title__font_family: 'Montserrat', sans-serif;

$p__text__color: #848FAC;
$p__text__font_size: 18px;
$p__text__line_height: 27px;
$p__text__font_weight: 400;

$btn__color: #FFFFFF;
$btn__background:#0E1734;
$btn__font_size: 16px;
$btn__line_height: 19.36px;
$btn__font_weight: 500;
